body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: 15% 65% 20%;
	grid-template-columns: 2fr 1fr 50px;
	overflow: hidden;
}

nav {
	margin: 15px 100px;
}


ul {
	list-style: none;
	padding: 10px;
	float: right;
	display: flex;
	/*transform: translate(-50px, 20px);*/
}

ul li {
	margin: 0 25px;
}

/*Areas*/

nav {
	grid-column: span 4;
}

footer {
	grid-column: span 4;	
}

main h1 {
	font-size: 5em;
}

main p {
	font-size: 1.2em;
	width: 60%;
}

main button {
	color: white;
	background-color: #2a7242;
	padding: 15px;
	border: none;
	border-radius: 10px;
}

#smoothie::after {
	content: '';
	position: absolute;
	display: block;
	width: 1200px;
	height: 1200px;
	background-color: #2a7242;
	z-index: -1;
	transform: translate(10px, -500px);
	border-radius: 60%;
}