body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: 10% 70% 20%;
}

nav {
	margin: 15px 100px;
}


ul {
	list-style: none;
	padding: 10px;
	float: right;
	display: flex;
	/*transform: translate(-50px, 20px);*/
}

ul li {
	margin: 0 25px;
}